apiVersion: apps/v1
kind: Deployment
metadata:
  name: billing
spec:
  replicas: 1
  selector:
    matchLabels:
      app: billing
  template:
    metadata:
      labels:
        app: billing
    spec:
      containers:
      - name: billing
        image: 637341921879.dkr.ecr.ap-northeast-2.amazonaws.com/coffee_machine:billing-0a76b8c7d6cc1d3c8404f47db209e1f97ee5fa03
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: ROOT_PATH
          value: /api/billing
        - name: DB_HOST
          value: mysql
        - name: DB_USER
          value: root
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        - name: DB_NAME
          value: coffee_machine
---
apiVersion: v1
kind: Service
metadata:
  name: billing
spec:
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: billing
