apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory
spec:
  revisionHistoryLimit: 2
  replicas: 1
  selector:
    matchLabels:
      app: inventory
  template:
    metadata:
      labels:
        app: inventory
    spec:
      containers:
      - name: inventory
        image: 637341921879.dkr.ecr.ap-northeast-2.amazonaws.com/coffee_machine:inventory-ac08d88aa295797813cfd89c90b4a37e5eeae9e1
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: ROOT_PATH
          value: /api/inventory
        - name: DB_HOST
          value: mysql
        - name: DB_USER
          value: root
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        - name: DB_NAME
          value: coffee_machine
        - name: BILLING_SERVICE_URL
          value: http://billing
---
apiVersion: v1
kind: Service
metadata:
  name: inventory
spec:
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: inventory
