apiVersion: apps/v1
kind: Deployment
metadata:
  name: order
spec:
  revisionHistoryLimit: 2
  replicas: 1
  selector:
    matchLabels:
      app: order
  template:
    metadata:
      labels:
        app: order
    spec:
      containers:
      - name: order
        image: 637341921879.dkr.ecr.ap-northeast-2.amazonaws.com/coffee_machine:order-228c998b86baee4aa61641389401c2c4e2563a80
        imagePullPolicy: Always
        ports:
        - containerPort: 8000
        env:
        - name: ROOT_PATH
          value: /api/order
        - name: DB_HOST
          value: mysql
        - name: DB_USER
          value: root
        - name: DB_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql-secret
              key: password
        - name: DB_NAME
          value: coffee_machine
        - name: INVENTORY_SERVICE_URL
          value: http://inventory
        - name: BILLING_SERVICE_URL
          value: http://billing
---
apiVersion: v1
kind: Service
metadata:
  name: order
spec:
  type: ClusterIP
  ports:
  - port: 80
    targetPort: 8000
  selector:
    app: order
